#leftSide {
    height: 100vh;
    width: 50vw;
    background-color: #000000;
}

#rightSide {
    height: 100vh;
    width: 50vw;
    background-color: #FF0000;
    float: right;
}

#takeflight-image {}