body {
    background-image: url('./assets/website-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}