/* Navbar */

.navbar {
    background-color: #000000;
}

.nav-link {
    color: #FFFFFF;
    font-size: larger;
    font-family: 'Montserrat';
}

.nav-link:hover {
    color: #FF0000;
}

.fa-bars {
    color: #FF0000;
}


/* Welcome section */

#welcome-banner {
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#take-flight-image {
    height: 400px;
    width: 400px;
}

@media(max-width: 767px) {
    #take-flight-image {
        height: 350px;
        width: 350px;
    }
}


/* About me section */

#about-me-title {
    text-align: center;
    padding-top: 10px;
    font-family: 'Montserrat';
}

#about-me-pic {
    height: 300px;
    width: 450px;
}

#about-me-text {
    font-family: 'Montserrat';
    font-size: medium;
}

.animate__animated.animate__slideInLeft {
    animation-duration: 2s;
}

.animate__animated.animate__slideInRight {
    animation-duration: 2s;
}