/* Navbar */

.navbar {
    background-color: #000000;
}

.nav-link {
    color: #FFFFFF;
    font-size: large;
}

.nav-link:hover {
    color: #FF0000;
}

.fa-bars {
    color: #FF0000;
}


/* Welcome section */

#welcome-banner {
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-header {
    color: #FFFFFF;
    font-family: 'Montserrat';
}

#take-flight-image {
    height: 250px;
    width: 250px;
}