/* General HTML element styling */

.nav-link {
    color: red;
}

.nav-link:hover {
    color: white;
}


/* Navbar */

.navbar {
    background-color: black;
}


/* Welcome section */

#welcome-banner {
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#welcome-header {
    color: red;
    font-family: 'Montserrat';
}