#welcome-banner {
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: row;
}

#welcome-header {
    color: red;
    text-align: center;
    font-family: 'Montserrat';
}