html,
body {
    overflow-x: hidden;
}


/* Navbar */

.navbar {
    background-color: #000000;
}

.nav-link {
    color: #FFFFFF;
    font-size: larger;
    font-family: 'Montserrat';
}

.nav-link:hover {
    color: #FF0000;
}

.fa-bars {
    color: #FF0000;
}


/* Welcome section */

#welcome-banner {
    background-color: black;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#take-flight-image {
    height: 400px;
    width: 400px;
}

.fab {
    color: #FFFFFF;
}


/* About me section */

#about-me-banner {
    background-color: black;
    box-shadow: 10px 10px 5px grey;
}

#about-me-title {
    text-align: center;
    padding-top: 10px;
    font-family: 'Montserrat';
    color: red;
}

#about-me-pic {
    height: 300px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px white;
}

#about-me-text {
    font-family: 'Montserrat';
    font-size: 18px;
    color: white;
}

.animate__animated.animate__slideInLeft {
    animation-duration: 2s;
}

.animate__animated.animate__slideInRight {
    animation-duration: 2s;
}


/* Social media section */

#social-media-banner {
    height: auto;
    background-color: black;
}

#social-media-header {
    text-align: center;
    color: red;
    padding-top: 10px;
    font-family: 'Montserrat';
}

#ig-feed {
    padding: 10px;
}

@media(max-width: 767px) {
    #take-flight-image {
        height: 350px;
        width: 350px;
    }
    #about-me-text {
        padding-top: 10px;
    }
}