body,
html {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}


/* Background Image */

.bg {
    /* The image used */
    background-image: url("./assets/website-background.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}