body {
    background-image: url('./assets/website-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
    width: 10vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}